@model IEnumerable<GestionEleves.ApplicationWebMVC.Models.EleveViewModel>

@{
  ViewBag.Title = "Students";
}

<div class="divTitreStudent">
  <h5 class="titleStudents">@ViewBag.Title.ToUpper()</h5>
  <div class="containerSearchStudents">
    <form asp-controller="Home" asp-action="Students">
      <input class="searchStudentsText" type="text" name="searchString" />
      <input class="searchStudentsButton" type="submit" value="search" />
    </form>
  </div>
  <div class="containerAddStudent">
    <a class="addStudent" href="/Student/AddStudent">
      <div class="vTrait"></div>
      <div class="hTrait"></div>
    </a>
  </div>
</div>

<div class="listeEleves">
    @foreach (var item in Model)
    {
      <div class="cardEleve">
        <a href="@Url.Action("Details", "Student", new { id = item.EleveId })">
          <div class="row1CardEleve">
            <div class="leftCard">
              <p>@item.EleveId</p>
              <p>@item.Nom.ToUpper()</p>
              <p>@item.Prenom.ToUpper()</p>
            </div>
            <div class="rightCard">
              @if (item.Moyenne > 0.0)
              {
                <div><span>Moyenne : </span>@item.Moyenne</div>
              }
              <div><span>Classe : </span>@item.ClassId</div>
            </div>
          </div>
        </a>
        <hr style="margin: 0 0 2vh 0" />
        <div class="listNotesCard">
          @{
            if (item.Notes != null)
            {
              foreach (var note in item.Notes)
              {
                <div class="rowNote">
                  <p>@note.Matiere</p>
                  <p>@note.NoteEleve</p>
                  <p>@note.Appreciation</p>
                  <p>@note.DateNote.ToString("dd MMM yyyy")</p>
                </div>
              }
            }
            else
            {
              <i>Pas de notes</i>
            }
          }
        </div>
      </div>
    }
  </div>

